<nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" nzSize='large' nzMode="multiple"
    nzPlaceHolder="Punto Importante" nzSize='large' (ngModelChange)="onSelectPuntoImportante($event)"
    [(ngModel)]="list">
    <nz-option *ngFor="let item of arrPuntosImportantes" nzCustomContent [nzLabel]="item.name" [nzValue]="item.punto_importante_id">
        <div class="box">
            {{item.name}}
            <app-modal-delete size="small" [id_object]="item.punto_importante_id" type_object="punto importante"
                name_object={{item.name}}></app-modal-delete>
        </div>
    </nz-option>
</nz-select>
<ng-template #renderTemplate>
    <form class='form-list' (ngSubmit)="handleAddPuntoImportante()" [formGroup]="formPuntoImportante">
            <input class="form-control form-control-add-list" type="text" formControlName="name" nz-input #inputElement
                placeholder="Añadir nuevo punto importante" />
            <a type='submit' class="add-item" (click)="handleAddPuntoImportante()">
                <span nz-icon nzType="plus"> </span>Agregar </a>
    </form>
</ng-template>