<div class="flex-conainter">
  <div class="left-container"></div>
  <div class="right-container">
    <div class="container">
      <img
        class="logo-borregos"
        src="../../../assets/logo-borregos.svg"
        alt=""
      />
      <h1>Bienvenido</h1>
      <p>al sistema de Athletics y Recsports</p>
      <form class="form">
        <input type="text" placeholder="Usuario" />
        <input type="text" placeholder="Contraseña" />
        <button>INGRESAR</button>
      </form>
      <div class="google-login-button">
        <span class="google-logo"></span>
        <span class="google-text">INGRESAR CON GOOGLE</span>
      </div>
    </div>
  </div>
</div>
