

<div *ngIf="imageURL && imageURL !== ''; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <img class='image' [src]="imageURL" [alt]="uploadForm.value.name">
</ng-template>
<ng-template #elseBlock>
  <div class='file-upload' (click)="fileUpload.click()">
    <span nz-icon nzType="upload"></span>
    <!-- <div style="margin-top: 8px">Subir imágen</div> -->
    <div *ngIf="size ==='big'">
      <p class="text">Subir imágen</p>
    </div>
    <input class='input-file' type="file" accept="image/*" (change)="showPreview($event)" #fileUpload>
  </div>
</ng-template>
