.card-image{
    border-radius: 10px;
    /* filter: brightness(50%); */
    width: 300px;    
    height: 100%;
    object-fit: cover;
}

.anuncio-card {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.img-container {
    height: 50%;
}

.content-container {
    padding: 10px;
    height: 50%;
    background-color: white;
}

.anuncio-card .content-container app-modal-delete {
    position : relative;
    color : red;
    margin: 10px;
}

.anuncio-card .content-container .redirect {
    position : relative;
    color : rgb(73, 125, 193);
    margin: 10px;
}