.aforo-simbolo {
  width: 75%;
  margin: auto;
}

.stats {
  height: 68vw;
}

:host ::ng-deep .carousel {
  height: 100%;
}

.carousel,
.carousel-inner {
  height: 100%;
}

#carousel1 {
  height: 100%
}



@media (max-width:600px) {
  .aforo-semanal-container {
    padding-top: 2rem !important;
  }

  .aforo-semanal-texto {
    margin-top: 2.5rem !important;
  }
}

/* Tablet */
@media (min-width:600px) {
  .stats {
    height: 38vw;
  }

  .aforo {
    margin-top: 4rem !important;
  }

  .aforo-texto {
    margin-top: 4rem !important;
  }

  .aforo-semanal-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .aforo-semanal-texto {
    margin-top: 0.5rem !important;
  }
}

/* Desktop */
@media (min-width:900px) {
  .stats {
    height: 25vw;
  }

  .aforo-semanal-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .aforo-semanal-texto {
    margin-top: 0.5rem !important;
  }

}

/* .circle .dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  @keyframes dot{
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(90deg);
      z-index: 4;
    }
    100% {
      transform: rotate(270deg);
      z-index: 4;
    }
  } */