.available-hours-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;		
}

.available-hours-container p {
	font-size: 10px;
	margin: 0;
}

.consideraciones-container div {
    font-size: 10px;
    gap: 0.5rem;
}
