* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flex-conainter {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100vh; /* Set the container height to full viewport height */
  width: 100vw;
}

.left-container {
  background-image: url(../../../../assets/login-image.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 65%;
  /* height: 100vh; Set the container height to full viewport height */
  border-end-end-radius: 60px;
  border-top-right-radius: 60px;
}

.login-image {
  display: block;
}

.login-image img {
  margin: 0;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 0 20px 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.container img {
  margin-bottom: 20px;
  width: 130px;
}

.container p {
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

.container h1 {
  margin: 0;
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.logo-borregos {
  width: 100px;
}

.form input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid;
  border-radius: 8px;
  border-width: 1px;
  height: 48px;
  padding-left: 20px;
}

.form button {
  border: none;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Google Button */

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #757575;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50px;
  font-weight: bold;
}

.google-login-button:hover {
  background-color: #f1f1f1;
}

.google-login-button .google-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.google-login-button .google-text {
  display: inline-block;
}

/* Responsive */

@media (max-width: 850px) {
  .left-container {
    display: none;
  }
  .flex-conainter {
    justify-content: center;
  }
  .right-container {
    width: 100%;
  }
}
