<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleEdit()" nzCancelDanger="true" nzOkType='primary' nzCancelType='primary' nzCancelText="Borrar" nzOkText="Crear">
    <ng-container *nzModalContent>
        <p class="text" style="font-size: 2rem;top: 1%;font-weight: bold;">Editar Espacio</p>
        <form (ngSubmit)="handleEdit()" [formGroup]="formEspacio">
            <div class="row">
                <div class="col col-sm-9">
                    <input formControlName="name" type="text" class="form-control" placeholder="Nombre" />
                </div>
                <div class="col col-sm-3">
                    <input formControlName="code" type="text" class="form-control" placeholder="Codigo" />
                </div>
                <div class="col col-sm-12">
                    <!-- <app-select-deporte (listOfSelectedDeportes)="addList($event, 'deporte')"></app-select-deporte> -->
                </div>

                <div class="col col-sm-12">
                    <app-select-espacio-padre (espacio_padre_id)="addList($event, 'espacio-padre')"></app-select-espacio-padre>
                </div>

                <div class="col col-sm-12">
                    <!-- <app-select-punto-importante (listOfSelectedPuntos)="addList($event, 'punto')"></app-select-punto-importante> -->
                </div>

                <div class="col col-sm-9">
                    <input formControlName="details" type="text" class="form-control form-control-detalles"
                        placeholder="Detalles" />
                </div>
                <div class="col col-sm-3">
                    <app-file-upload (newItemEvent)="addFileEspacio($event)" size="big"></app-file-upload>

                </div>
                <div class="col col-sm-6">
                    <input formControlName="time_max" type="number" min="0" class="form-control"
                        placeholder="Tiempo max de reserva" />
                </div>
                <div class="col col-sm-6">
                    <input formControlName="capacity" type="number" min="0" class="form-control"
                        placeholder="Capacidad max" />
                </div>
                <div class="col col-sm-6" style="display: flex;vertical-align: middle;">
                    <div class="col col-sm-6">
                        <p class="text">Horario Entrada</p>
                    </div>
                    <div class="col col-sm-6">
                        <nz-time-picker class="form-control" nzPlaceHolder="Horario Entrada"
                            formControlName="open_at" [(ngModel)]="openAt" nzSize="large"
                            nzFormat="HH:mm"></nz-time-picker>
                    </div>
                </div>
                <div class="col col-sm-6" style="display: flex;">
                    <div class="col col-sm-6">
                        <p class="text">Horario Salida</p>
                    </div>
                    <div class="col col-sm-6">
                        <nz-time-picker class="form-control" formControlName="close_at" nzSize="large"
                            [(ngModel)]="closeAt" nzFormat="HH:mm" nzPlaceHolder="Horario Salida"></nz-time-picker>
                    </div>
                </div>

            </div>
        </form>
    </ng-container>
    <ng-template [nzModalFooter]>
        <app-modal-delete size="small" [id_object]="espacio_id" type_object="espacio"
        name_object={{name}}></app-modal-delete>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleEdit()" >Editar</button>
      </ng-template>
</nz-modal>
