<div class="container">
    <app-header-espacio  [name]="espacio?.name" [code]="espacio?.code"
        [open_at]="espacio?.open_at" [imagen]="espacio?.imagen" [close_at]="espacio?.close_at" [time_max]="espacio?.time_max" [capacity]="espacio?.capacity" [details]="espacio?.details" >
    </app-header-espacio>
    <div class="row">
        <nz-tabset>
            <nz-tab nzTitle="Actuales">
                <app-card-reservacion  *ngFor="let reservation of todayReservations" [reservation]="reservation"></app-card-reservacion>
            </nz-tab>
            <nz-tab nzTitle="Pasados">
                <app-card-reservacion  *ngFor="let reservation of pastReservations" [reservation]="reservation"></app-card-reservacion>
            </nz-tab>
            <nz-tab nzTitle="Proximos">
                <app-card-reservacion  *ngFor="let reservation of nextReservations" [reservation]="reservation"></app-card-reservacion>
            </nz-tab>
        </nz-tabset>

    </div>
</div>