
<nz-select formControlName="deporte_id" nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplateDeportes"
    nzPlaceHolder="Deporte" nzSize='large' (ngModelChange)="onSelectDeporte($event)" nzMode="multiple"
    [(ngModel)]="listOfSelectedDeportes">
    <nz-option *ngFor="let item of arrDeportes" [nzLabel]="item.name" [nzValue]="item.deporte_id"></nz-option>
</nz-select>
<ng-template #renderTemplateDeportes>
    <div class="container container-select">
        <form class='form-list' (ngSubmit)="handleAddDeporte()" [formGroup]="formDeporte">
            <input class="form-control form-control-add-list" formControlName="name" type="text" nz-input #inputElement
                placeholder="Añadir nuevo deporte" />
            <app-file-upload (newItemEvent)="addFileDeporte($event)" type="small"></app-file-upload>
            <a type='submit' class="add-item" (click)="handleAddDeporte()">
                <span nz-icon nzType="plus"></span> </a>
        </form>
    </div>
</ng-template>

