<nz-list-item>
    <nz-list-item-meta
      nzDescription="Ubicación"
    >
      <nz-list-item-meta-title>
        <!-- Zona que al dar click navega a ubicación en google maps -->
        <a href={{url}} target="_blank">
            <div class="d-flex justify-content-between align-items-end">
                Ver en Google Maps
                <img 
                    src="assets/google-maps-icon.png"
                    height="40px"
                >
            </div>
        </a>
        
      </nz-list-item-meta-title>
    </nz-list-item-meta>
</nz-list-item>
