

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="300px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <img class="trigger" src="../../../assets/logo-borregos.svg" alt="logo">
      </span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter routerLink="panel-admin">
        <span class='icon' nz-icon nzType="appstore"></span>
        <span class='menu-item'>Panel Administrativo</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="espacios">
        <span class='icon' nz-icon nzType="build"></span>
        <span class='menu-item'>Espacios</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="torneos">
        <span class='icon' nz-icon nzType="trophy"></span>
        <span class='menu-item'>Torneos y actividades</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="anuncios">
        <span class='icon' nz-icon nzType="notification"></span>
        <span class='menu-item'>Anuncios</span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>

    <nz-content>
      <!-- <nav>
        <ul>
          <li><a routerLink=':espacio_id/espacio-details'><app-espacio-details></app-espacio-details></a></li>
        </ul>
      </nav> -->
        <router-outlet></router-outlet>
    </nz-content>

  </nz-layout>
</nz-layout> 

