
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">

      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <img class="trigger" src="../../../assets/logo-borregos.svg" alt="logo">
      </span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-menu-item nzMatchRouter routerLink="panel-admin">
        <span nz-icon nzType="appstore"></span>
        <span>Panel Administrativo</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="espacios">
        <span nz-icon nzType="build"></span>
        <span>Espacios</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="torneos">
        <span nz-icon nzType="trophy"></span>
        <span>Torneos y actividades</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="anuncios">
        <span nz-icon nzType="notification"></span>
        <span>Anuncios</span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <!-- <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span> 
       </div>
    </nz-header> -->

    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout> 

