
.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}
img{
    height: 280px;
    background-size: auto;   
}

:host ::ng-deep .ant-tabs-tab-btn{
    font-weight: 500 ;
    font-size: calc(1rem + .3vw);
    color: rgba(0, 0, 0, 0.45);
}

/* 
:host ::ng-deep .ant-tabs-nav {
    display: flex !important;
}

:host ::ng-deep .ant-tabs-nav .ant-tabs-tab {
    flex-grow: 1 !important;
    margin-right: 0px !important;
    width: 100% !important;
    text-align: center !important;
} 
*/