
.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}
img{
    height: 280px;
    background-size: auto;   
}

/* :host ::ng-deep .ant-tabs-nav-wrap{
    display: flex;
}

:host ::ng-deep .ant-tabs .ant-tabs-tab{
    flex-grow: 1;
    margin-right: 0px;
    width: 100%;
    text-align: center;
} */

/* :host ::ng-deep .ant-tabs-nav {
    display: flex !important;
}

:host ::ng-deep .ant-tabs-nav .ant-tabs-tab {
    flex-grow: 1 !important;
    margin-right: 0px !important;
    width: 100% !important;
    text-align: center !important;
} */