
.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}
img{
    height: 280px;
    background-size: auto;
    object-fit:cover;   
}

:host ::ng-deep .ant-tabs-tab-btn{
    font-weight: 500 ;
    font-size: calc(1rem + .3vw);
    color: rgba(0, 0, 0, 0.45);
}

h4{
    margin-bottom: 0;
}

  /* Tablet */
  @media (min-width:600px) {
    img {
        height: 380px;
      }
  }

 /* Desktop */
 @media (min-width:900px) {
    img {
      height: 480px;
    }

  }