<div class=container>
    <div class=card>
            <img href="#" src={{baseURL+imagen}}>
        <div class="title">
            <h2>{{name}}</h2>
        </div>
        <div class=content>
            <p>{{description}}</p>
            <app-modal-delete size="small" [id_object]="torneo_id" type_object="torneo"
            name_object={{name}}></app-modal-delete>
            <a href={{url}} target="_blank"><span  class="redirect"  nz-icon nzType="link" nzTheme="outline"></span></a>
        </div>
    </div>
</div>