<div class="container">
  <div class="row">
    <div class="col-2 p-0">

      <!-- Botón de abrir menu -->
      <a>
        <img
          class="logo-tec"
          (click)="open()"
          src="assets/logo-borregos.png"
          alt="hey"
        />
      </a>
    </div>

    <!-- Titulo de página -->
    <div class="col">
      <ng-content [titulo]></ng-content>
    </div>

  </div>

  <!-- Footer del menu -->
  <ng-template #footerTemplate>
    <div class="profile">
      <img [src]="imgUrl" alt="" />
      <div class="name">
        <p>{{ name }}</p>
      </div>
    </div>
  </ng-template>

  <!-- Menu desplegable -->
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    [nzWidth]="250"
    nzPlacement="left"
    nzTitle="Menu"
    (nzOnClose)="close()"
    [nzFooter]="footerTemplate"
  >
    <ng-container *nzDrawerContent>

      <ul nz-menu nzTheme="light" nzMode="inline">

        <!-- Boton Home -->
        <li nz-menu-item nzMatchRouterExact routerLink="./" (click)="close()">
          <span nz-icon nzType="home" nzTheme="outline"></span>
          <span>Home</span>
        </li>

        <!-- Boton Reservar -->
        <li
          nz-menu-item
          nzMatchRouterExact
          routerLink="./reservar"
          (click)="close()"
        >
          <span nz-icon nzType="schedule" nzTheme="outline"></span>
          <span>Reserva</span>
        </li>

        <!-- Boton Mis reservaciones -->
        <li
          nz-menu-item
          nzMatchRouterExact
          routerLink="./mis-reservaciones"
          (click)="close()"
        >
          <span nz-icon nzType="calendar"></span>
          <span>Mis reservaciones</span>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</div>
