/* percentage */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700');

.circular {
    height: 6.25rem; /* 100px / 16px = 6.25rem */
    width: 6.25rem; /* 100px / 16px = 6.25rem */
    position: relative;
  }

.circular .inner,
.circular .outer,
.circular .circle {
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: inset 0 0.0625rem 0 rgba(0,0,0,0.2); /* 1px / 16px = 0.0625rem */
}

.circular .inner {
    top: 50%;
    left: 50%;
    height: 5rem; /* 80px / 16px = 5rem */
    width: 5rem; /* 80px / 16px = 5rem */
    margin: -2.5rem 0 0 -2.5rem; /* -40px / 16px = -2.5rem */
    background-color: #f8f8f8;
    border-radius: 100%;
    box-shadow: 0 0.0625rem 0 rgba(0,0,0,0.2); /* 1px / 16px = 0.0625rem */
  }

.circular .circle {
    z-index: 1;
    box-shadow: none;
}

.circular .numb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
    font-weight: 500;
    color: #0a4892;
  }

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 100%;
  clip: rect(0rem, 6.25rem, 6.25rem, 3.125rem); /* 0px / 16px = 0rem, 50px / 16px = 3.125rem, 100px / 16px = 6.25rem */
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0rem, 3.125rem, 6.25rem, 0rem); 
}

.circle .bar .progress,
.dot span {
    background: #0a4892;
}

.circle .left .progress {
    z-index: 1;
    animation: left 4s linear both;
}

:root {
    --leftRotate: 180deg;
    --rightRotate: 180deg;
    --endRotate: 180deg;
}

@keyframes left {
    100% {
        /* --leftRotate: 0deg; */
        transform: rotate(var(--leftRotate));
    }
}

.circle .right {
    z-index: 3;
    transform: rotate(180deg);
}

.circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100% {
        /* --rightRotate: 0deg; */
        transform: rotate(var(--rightRotate));
    }
}

.circle .dot {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 0.625rem;
    margin-top: -0.313rem;
    animation: dot 8s linear both;
    transform-origin: 0% 50%;
}

/* .circle .dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  @keyframes dot{
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(90deg);
      z-index: 4;
    }
    100% {
      transform: rotate(270deg);
      z-index: 4;
    }
  } */

   /* Desktop */
   @media (min-width:900px) {
    .circular {
        height: 9.375rem; /* 100px / 16px = 6.25rem */
        width: 9.375rem; /* 100px / 16px = 6.25rem */
        position: relative;
      }
    
    
    .circular .inner {
        top: 37%;
        left: 37%;
        height: 7.5rem; /* 80px / 16px = 5rem */
        width: 7.5rem; /* 80px / 16px = 5rem */
        margin: -2.5rem 0 0 -2.5rem; /* -40px / 16px = -2.5rem */
        background-color: #f8f8f8;
        border-radius: 100%;
        box-shadow: 0 0.0625rem 0 rgba(0,0,0,0.2); /* 1px / 16px = 0.0625rem */
      }
    
    
    .circular .numb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        font-size: 1.6rem; /* 18px / 16px = 1.125rem */
        font-weight: 500;
        color: #0a4892;
      }
    
    .circular .bar {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 100%;
      clip: rect(0rem, 9.375rem, 9.375rem, 4.6875rem); /* 0px / 16px = 0rem, 50px / 16px = 3.125rem, 100px / 16px = 6.25rem */
    }
    
    .circle .bar .progress {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        clip: rect(0rem, 4.6875rem, 9.375rem, 0rem); 
    }
    
    
    .circle .dot {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        height: 0.625rem;
        margin-top: -0.313rem;
        animation: dot 8s linear both;
        transform-origin: 0% 50%;
    }

  }