
.reserva {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	/* max-width: 100%; */
	margin: 10px;
	overflow: hidden;
	width: 90%;
    height: 100px;
}

span{
    color: #fff;
}

p {
	letter-spacing: 1px;
	text-transform: uppercase;
    color: #fff;
}

h5 {
	margin: 1px;
	letter-spacing: 1px;
}

.reserva-preview {
	background-color: #004892;
	padding: 30px;
	max-width: 100%;
}

.reserva-preview a {
	color: #fff;
	display: inline-block;
	font-size: 9px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.reserva-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.btn {
	background-color: #004892;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 12px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}


