<div class="container container-border">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-name">Paulina López Holguín</p>
        </div>
        <div class="col-sm-1">
            <span class="badge rounded-pill">
                <span nz-icon nzType="field-time" nzTheme="outline"></span>
                90 m</span>
        </div>
        <div class="col-sm-1">
            <span class="badge rounded-pill"> <span nz-icon nzType="calendar" nzTheme="outline"></span> Mayo 25 2023
                10:30</span>
        </div>

        <div class="col-sm-1">
            <span class="badge rounded-pill"><span nz-icon nzType="delete" nzTheme="outline"></span></span>
        </div>
    </div>

</div>