.parent-container {
	display: flex;
	justify-content: center;
}

.container {
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	margin: 15px;
}

.time-slots {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	width: 100%;
}

:host ::ng-deep .ant-select-single .ant-select-selector{
	border-radius: 0.5rem;
}

:host ::ng-deep .ant-picker-calendar-header .ant-picker-calendar-mode-switch{
	visibility: hidden;
}