<div class="container">

    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <p class="text" style="font-size: 2rem;top: 1%;font-weight: bold;">Agregar Torneo</p>
            <form (ngSubmit)="handleOk()" [formGroup]="formTorneo">
                <div class="row">
                    <div class="col col-sm-9">
                        <input formControlName="name" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Nombre" />
                    </div>
                    <div class="col col-sm-3">
                        <input formControlName="code" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Codigo" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="deporte" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Deporte" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="instalacion" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Instalacion" />
                    </div>
                    <div class="col col-sm-9">
                        <input formControlName="link" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Link" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="fechaInicial" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Fecha Inicial" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="horarioInicial" type="text" class="form-control"
                            aria-describedby="helpId" placeholder="Horario Inicial" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="fechaFinal" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Fecha Final" />
                    </div>
                    <div class="col col-sm-6">
                        <input formControlName="horarioFinal" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Horario Final" />
                    </div>
                </div>
            </form>
        </ng-container>
    </nz-modal>

    <div class="row">
        <div class="col-sm-6">
            <p class="text" style="font-size: 2rem;top: 1%;font-weight: bold;">Torneos y actividades</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8"> <input type="search" class="form-control" id="searchQuery"
                        placeholder="Search...">
                </div>
                <div class="col-sm-4"> 
                    <button class="btn btn-primary" type="button" (click)="showModal()">
                        <span nz-icon nzType="plus" class="btn-icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-auto">
        <div class="col" *ngFor="let torneo of arrTorneos">
            <app-cardTorneo [torneo_id]="torneo.torneo_id" [name]="torneo.name" [evento]="torneo.evento"
                [description]="torneo.description"></app-cardTorneo>
        </div>
    </div>

</div>