<div class="container">
    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleAddTorneo()" nzCancelText="Cancelar" nzOkText="Crear">
        <ng-container *nzModalContent>
            <p class="text" style="font-size: 2rem;top: 1%;font-weight: bold;">Agregar Torneo</p>
            <form (ngSubmit)="handleAddTorneo()" [formGroup]="formTorneo">
                <div class="row">
                    <div class="col col-sm-12">
                        <input formControlName="name" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Nombre" />
                    </div>
                    <div class="col col-sm-12">
                        <input formControlName="evento" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="Tipo de evento (Intramuros, Conadeip, etc.)" />
                    </div>
                    <div class="col col-sm-12">
                        <input formControlName="url" type="text" class="form-control" aria-describedby="helpId"
                            placeholder="URL Formulario de registro" />
                    </div>
                    <div class="col col-sm-9">
                            <textarea formControlName="description" type="text" class="form-control"
                            aria-describedby="helpId" placeholder="Descripción" rows="3"></textarea>
                    </div>
                    <div class="col col-sm-3">
                        <app-file-upload (newItemEvent)="addFileTorneo($event)" size="big"></app-file-upload>
                    </div>
                    <div class="col col-sm-12">
                        <app-select-deporte (listOfSelectedDeportes)="addList($event, 'deporte')" multiple='default'></app-select-deporte>
                    </div>
                    <div class="col col-sm-12">
                        <app-select-espacio-padre
                        (espacio_padre_id)="addList($event, 'espacio-padre')"></app-select-espacio-padre>                    </div>
                    <div class="col col-sm-12">
                        <nz-range-picker [nzRanges]="ranges" nzShowTime nzFormat="yyyy/MM/dd HH:mm:ss" ngModel
                            nzSize="large" (ngModelChange)="onChange($event)" formControlName="dates"></nz-range-picker>
                    </div>


                </div>
            </form>
        </ng-container>
    </nz-modal>
    <div class="row">
        <div class="col-sm-6">
            <p class="text" style="font-size: 2rem;top: 1%;font-weight: bold; margin-bottom: 10%;">Torneos y actividades</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8"> 
                </div>
                <div class="col-sm-4">
                    <button id="add-button" class="btn btn-primary" type="button" (click)="showModal()">
                        <span nz-icon nzType="plus" class="btn-icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row row-cols-auto">
        <div class="col" *ngFor="let torneo of arrTorneos">
            <app-cardTorneo [torneo_id]="torneo.torneo_id" [name]="torneo.name" [evento]="torneo.evento"
                [description]="torneo.description" [imagen]="torneo.imagen"></app-cardTorneo>
        </div>
    </div>
</div>