<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Espacio Padre" nzSize='large'
    (ngModelChange)="onSelectEspacio($event)" [(ngModel)]="list">
    <nz-option *ngFor="let item of arrEspacioPadre" nzCustomContent [nzLabel]="item.name"
        [nzValue]="item">
        <div class="box">
            {{item.name}}
            <app-modal-delete size="small" [id_object]="item.espacio_padre_id" type_object="espacio padre"
                name_object={{item.name}}></app-modal-delete>
        </div>
    </nz-option>
</nz-select>