<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <div class="row">
    
            <div class="row" style=" padding: 20px;">    
                <div class="col-md-6">
                    <div class="text-left">
                        <h2 class="text" style="font-size: 2rem;top: 1%;font-weight: bold;">Inicio | Panel de Estadísticas</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-end">
                        <app-export-button></app-export-button>
                    </div>
                </div>
            </div>
            <hr class="solid mr-3 ">
    
            <app-admin-people-card></app-admin-people-card>  

                
                <div class="row customColumn">

                    <div class="sectionOne cardContainer" >
                        <h3>Aforo semanal</h3>
                        <app-admin-charts></app-admin-charts>      
                    </div>
                    
                    <div class="sectionTwo cardContainer">
                       <h3>Reservaciones recientes </h3>
                       <div class="container">
                        <div class="row tableContainer"> 

                            <table >
                                <tr>
                                  <td>
                                    <div class="imageContainer">
                                        <img
                                        src="https://api.dicebear.com/6.x/initials/svg?seed=AS"
                                        alt="avatar" />
                                     
                                    </div>
                                  </td>
                                  <td>
                                    <div class="textContainer">
                                        <div class="upText">
                                            <h4>
                                                Alexis Cardona 
                                            </h4>
                                        </div>
                                        <div class="downText">
                                            <h5>
                                               a00831284@tec.mx
                                            </h5>
                                        </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="buttonContainer">
                                            <h5>
                                                12:00pm - 13:00pm                                      
                                            </h5>
                                    </div>
                                  </td>
                                </tr>
                              </table>

                        </div>
                       </div>
                    </div>            
                </div>
        
    
    
        </div>
    </div>    
</body>    
</html>
