.container{
    margin: 5%;
    position: relative;
}


.card-image{
    border-radius: 40px;
    filter: brightness(50%);
    width: 150px;
    height: 150px;
}

.text{
    position: absolute;
    color: white;
    text-align: center;
    /* top: 30%; */
    left: 0;
    right:0;
}

.title{
    font-size: 1rem;
    top: 40%;
    left: 20;
    right: 20;
    position: absolute;
    color: white;
    text-align: center;   
}