<div class="row my-2 mis-reservas rounded-3 p-4">
    <div class="col-4 text-center">
        <h1>24 Jun</h1>
    </div>
    <div class="col-8 p-0">
                <div class="rounded-3 text-left">
                    <div class="px-4 border-start border-black">
                        <div class="titulo-reserva">
                            <h4 class="">Tenis cancha 8</h4>                            
                        </div>
                        
                        <div class="horario-reserva">
                            <p class="m-0">9:30 am</p>
                        </div>
                    </div>
                    
                    
        </div>
    </div>
    

</div>
