<!-- Tarjeta de reservacion de home -->
<div class="row my-2 mis-reservas rounded-3 py-4">
    <div class="col-4 fecha text-center">
        <h1>{{fecha}}</h1>
    </div>
    <div class="col-8 p-0">
                <div class="rounded-3 text-left">
                    <div class="px-4 border-start border-black">
                        <div class="titulo-reserva">
                            <h4 class="">{{nombre_espacio}}</h4>                            
                        </div>
                        
                        <div class="horario-reserva">
                            <p class="m-0">{{hora_inicio}} - {{hora_final}}</p>
                        </div>
                    </div>
                    
                    
        </div>
    </div>
</div>
