<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 nz-typography class="card-title">Espacios</h2>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8"> <input type="search" class="form-control" id="searchQuery"
                        placeholder="Search...">
                </div>
                <div class="col-sm-4"> <button class="btn btn-primary" type="submit">
                    <span nz-icon nzType="plus" class="card-action-icon"></span>
                </button>
                </div>
            </div>
        </div>


    </div>


    <nz-tabset *ngFor="let tab from espaciosPadre">
        <nz-tab nzTitle="Tab 1">Content of Tab Pane 1</nz-tab>
        <nz-tab nzTitle="Tab 2">Content of Tab Pane 2</nz-tab>
        <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
        <nz-tab nzTitle="+ Agregar instalacion Padre"> </nz-tab>
    </nz-tabset>
</div>