<app-header>
    <h1 titulo class="display-2 fw-bold">Bienvenido</h1>
</app-header>

<app-stats></app-stats>

<div class="container menu-home">
    <div class="row justify-content-between">
        <div class="col-6 p-0">
            <div class="menu-btn ms-0 m-2 py-4 text-center rounded-3 espacio-fondo">
                    <h3 class="text-white">Espacios</h3>
                    <img src="assets/espacios.png" alt="" class="logo-btn">
                    
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="menu-btn m-2 me-0 py-4 text-center rounded-3 reserva-fondo">
                <h3 class="text-white">Reserva</h3>
                <img src="assets/reserva.png" alt="" class="logo-btn">
            </div>
        </div>
    </div>
    <app-reservaciones></app-reservaciones>
    <app-anuncios></app-anuncios>
    <router-outlet></router-outlet>
</div>

